h3{color: var(--blue-lineart);}

p{color: var(--blue-lineart);}

.business-header i {color: var(--golden-star); font-size: 30px;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/backgrounds/sant.bg-dif.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 700px;
    margin: 34px auto;
    border-radius: 16px;
    box-shadow: 0 0 16px var(--blue-lineart);
    padding: 32px 24px;
    gap: 20px;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
#navigation i {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    font-size: 30px;
    color: var(--blue-lineart);
}
#navigation i:hover {
    opacity: 0.7;
    border-color: var(--blue-lineart);
}

.header {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    background-color:var(--red);
    color:  #fff;
    border-radius: 20px;
    padding: 4px 8px;
}

.header h2 {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0 0 0;
    border-radius: 15px;
    background-color: var(--green-lineart);
    color: black;
}

.business-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    flex: 1;
}
.business-item {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    border-style: solid;
    border-width: 1,5px;
    border-color: var(--blue-lineart);
    overflow: hidden;
    position: relative;
    gap: 20px;
    padding: 10px;
    flex: 1;
}
.business-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.business-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.business-buttons {
    display: flex;
    justify-content: space-around;
}
.follow {
    padding: 7px 15px;
    border-width: 3.5px;
    border-radius: 8px;
    font-weight: bold;
    border-color: var(--green-lineart);
    background-color: var(--button-green);
    color: #fff;
}

.follow:hover {
    background-color: var(--green-lineart);
    border-color: var(--button-green);
    color: var(--button-green);
}

 
.business-buttons i {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    font-size: 30px;
    color: var(--blue-lineart);
}
.business-buttons i:hover {
    opacity: 0.7;
    border-color: var(--blue-lineart);
}

@media (max-width: 600px) {
    .business-list {
        flex-direction: column;
    }
}
