:root {
    --green-lineart: #c1ff72;
    --red: #f44d61;
    --button-green: #00bf63;
    --blue-lineart: #004aad;
    --blue-diamont: #71bfff;
    --golden-star:#ffd000;
    --metal: #b0c7e5;
    --bronce: #d39039;
    --btn-border1: #c1ff72;
    --btn-border2: #1762c6;
    --btn-bg1: #00964e;
    --btn-bg2: #71bfff;
    --btn-text2: #102153;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.card {
    background-color: #fff;
}

.flex {
    display: flex;
    align-items: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.no-seleccionable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ y Edge */
    user-select: none;         /* Estándar */
    pointer-events: none;      /* Evita clics y menús contextuales */
}