<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    
<div id="fav-container">
    <div class="h2-titles">
        <h2>Favoritos de los Clientes</h2>
    </div>
    <div id="box-fav">
        <div class="boxes-fav">
            <img 
            src="../images/img-proto.png" 
            width="200" 
            alt="Imagen prototipo"
            > 
            <div class="fav-text">
                <h2>Berlines ricos y dulces</h2>
                <p>Rellenos con crema pastelera y cubiertos con azúcar flor.</p>
                <h3>Tiene 57 votos</h3>
            </div>
        </div>
        <div class="boxes-fav">
            <img src="../images/img-proto.png" width="200" alt="Imagen prototipo">
            <div class="fav-text">
                <h2>Palmeritas ricas y azucaradas</h2>
                <p>Deliciosas palmeritas con un toque de canela.</p>
                <h3>Tiene 42 votos</h3>
            </div>
        </div>
        <div class="boxes-fav">
            <img src="../images/img-proto.png" width="200" alt="Imagen prototipo">
            <div class="fav-text">
                <h2>Pastelitos cremosos y blanditos</h2>
                <p>Rellenos de crema y cubiertos de chocolate.</p>
                <h3>Tiene 35 votos</h3>
            </div>
        </div>
        <div class="boxes-fav">
            <img src="../images/img-proto.png" width="200" alt="Imagen prototipo">
            <div class="fav-text">
                <h2>Palmeritas ricas y azucaradas</h2>
                <p>Deliciosas palmeritas con un toque de canela.</p>
                <h3>Tiene 42 votos</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>