<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" href="{{ url_for('static', filename ='images/Almaceb_logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bienvenido a la pagina de Registro de AlmacebRED, por favor ingresa tus datos.</h1>
    <hr>
    <form action="/procesar_request" method="post", enctype="multipart/form-data">
        <label>Nombre Completo</label>
        <input type="text" name="nombre_completo" required>

        <label>Foto</label>
        <input type="file" name="archivo">

        <label>E-Mail</label>
        <input type="email" name="email" placeholder="email123@gmail.com" required>

        <label>Contraseña</label>
        <input type="password" name="password" placeholder="contraseña123" required>

        <label>Tipo de Local</label>
        <input type="text" name="tipo_local" placeholder="Panaderia" required> 

        <label>Horario de Atencion</label>
        <input type="text" name="hora_atencion" required>

        <label>Descripcion</label>
        <textarea name="descripcion" placeholder="Ven a disfrutar pan recién salidos del horno..."  value="sin descripcion">
        </textarea>
        
        <input type="submit" value="Crear Usuario">
    </form>
</body>
</html>